<div class="contenedor">

  <div class="card">

    <h2 class="titulo">Resultado</h2>

    <p>Puntaje: <strong>{{ puntaje }}</strong></p>
    <p>Mensaje: <strong>{{ obtenerMensaje() }}</strong></p>

    <div class="seccion">
      <h3>Detalle de respuestas</h3>

      <div *ngFor="let r of resultados"
           class="item"
           [ngClass]="r.correcto ? 'correcto' : 'incorrecto'">

        Pregunta {{ r.id }}:
        {{ r.correcto ? 'Correcta' : 'Incorrecta' }}

      </div>
    </div>

    <!-- EXPLICACIONES -->
    <div *ngIf="erroresIds.length > 0" class="seccion">

      <h3>Explicaciones</h3>

      <div *ngFor="let id of erroresIds" class="explicacion">
        <strong>Pregunta {{ id }}:</strong>
        {{ explicaciones[id] }}
      </div>

    </div>

  </div>

</div>