<div class="contenedor">

  <div class="card">

    <h2 class="titulo">Resultado</h2>

    <p class="text-2xl">Puntaje: <strong>{{ puntaje }}</strong></p>
    <p><strong class="text-2xl">{{ obtenerMensaje() }}</strong></p>

    <div class="seccion">

      @for(r of resultados ; track r.id){
        <h3>Detalle de respuestas</h3>
        <div class="item incorrecto">

          Consigna: {{ r.detalle }}
          <p class="text-white"> Respuesta correcta: <strong class="text-emerald-300">{{ r.respuesta }}</strong></p>
          

        </div>
      }@empty {
        <div class="item">
          <p class="text-white"> ¡Has identificado con exito todos los casos! </p>
        </div>
      }
      
    </div>

  </div>

</div>